<div class="container">

  <div class="row">
    <div class="card mt-4" *ngFor="let a of addresses">
      <div class="card-body">
        <div class="card-title">
         <b>{{a.city}}</b>
        </div>
        <div class="card-text">
          {{a.street}}
        </div>
      </div>
    </div>
  </div>



<div class="row mt-2">
  
  <div class="card">
    <div class="card-body"  >
      <div class="card-title" >
      <button
      class=""
      (click)="formShow = !formShow"
      [ngClass]="formShow ? 'btn btn-danger fa fa-lock-open' : 'btn btn-dark fa fa-lock'"
      
      >
      Add add
      </button>
      
      
      <button *ngIf="formShow" class="m-2 btn btn-sm btn-dark"
      [ngClass]="inlineShow ? 'fa fa-arrow-alt-circle-left' : 'fa fa-arrow-alt-circle-right'"
      (click)='inlineShow = !inlineShow'
      >
  
      </button>
      <form  *ngIf="formShow" 
      [ngClass]="inlineShow ? 'form-inline' : ''"
      #addForm="ngForm" (ngSubmit)="onSubmit(addForm)"
      >



        <div class="form-group">
          <label for="city">City</label>
          <input
            type="text" 
            class="form-control m-2" placeholder="City" id="city"
            name="city"
            #city = "ngModel"
            [ngClass]="{'is-invalid': city.errors && city.touched}"
          [(ngModel)]="address.city"
         required
         minlength="2"
          >
          <div class="invalid-feedback" 
          [hidden]="!city.errors?.required"
          >
            This is required
          </div>

          <div class="invalid-feedback" 
          [hidden]="!city.errors?.minlength"
          >
            At least 2 characters accepted
          </div>

        </div>
        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" class="form-control m-2" placeholder="Street" id="street"
          name="street"
          [(ngModel)]="address.street"
          #street="ngModel"
          [ngClass]="{'is-invalid': street.errors && street.touched}"
          required
          minlength="3"
          
          >

          <!-- Use of pattern for better validations... -->

          <!-- patter="/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/" -->
          <div class="invalid-feedback" [hidden]="!street.errors?.required">
              Field required
          </div>

          <div class="invalid-feedback" [hidden]="!street.errors?.minlength">
            3 Please!!!
          </div>
        </div>
        <div class="form-group ">
        <button 
        [disabled]="!addForm.valid"
        type="submit" class="btn btn-primary m-2"
        
        > Submit </button>
      </div>
      </form> 
      </div>
    </div>
  </div>
  </div>



    </div>
 